@page "/"

@if (VM.CurrentDestination == null || PretendingToLoad)
{
    <img src="images/TravelMonkey.png" class="animated infinite pulse center" />
}
else
{
    <div class="container">
        <div class="layer1">
            <img class="carousel" src="@VM.CurrentDestination.ImageUrl" @key="URL" />
        </div>
        <div class="layer2">

            <h2 tex>Hi there,</h2>
            <h2>Where do you want to go?</h2>

            <div class="form-wrapper">
                <MatIcon Class="icon" Icon="translate"></MatIcon>

                <EditForm Class="grow" Model="VM.CurrentDestination" OnSubmit="Translate">

                    <MatTextField Class="field" @bind-Value="VM.TranslateText" FullWidth="true" PlaceHolder="Need to translate something?"></MatTextField>

                </EditForm>
            </div>

        </div>
        <div class="carousel-footer-wrapper">

            <div class="carousel-footer">

                <h1>@VM.CurrentDestination.Title</h1>
                <p>Recommendation</p>
            </div>
        </div>

    </div>
    <h3>Pictures</h3>
    <MatButton OnClick="AddPicture">Add New</MatButton>
    <p>No pictures yet, give me your best shots!</p>
    @foreach (var picture in VM.Pictures)
    {
        <div class="card-view">
            <img class="overlap-image" src="@(picture.PhotoBytes == null ? "" : $"data:image/jpg;base64,{Convert.ToBase64String(picture.PhotoBytes)}")" />
            <div class="card-view overlap-image" ></div>
            <p class="overlap-text" style="grid-row: 3;">@picture.Description</p>

        </div>
    }


}
