@page "/translation/{Text}"
@page "/translation"

    <div class="background">

        <MatButton OnClick="Back" >Close</MatButton>
        @if (VM == null || VM.Translations == null)
        {
            <p>loading</p>
        }
        else
        {
            <EditForm Model="VM" OnSubmit="Translate">
                <MatTextField @bind-Value="VM.InputText" FullWidth="true" PlaceHolder="Need to translate something?"></MatTextField>
            </EditForm>

            @foreach (var translation in VM.Translations)
            {
                <div class="card">
                    <p>@translation.Key : @translation.Value</p>
                </div>
            }
        }
    </div>